@{
    ViewData["Title"] = "Crear Ventas";
}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Venta y Detalle</h5>
            </div>
            <div class="modal-body">
                @* <hr /> *@
                <div class="card shadow">
                    <div class="card-header d-flex justify-content-center">
                        <p style="color: red;"><b><u>Añadir Detalle De La Venta</u></b></p>
                    </div>
                </div>
                <div class="card shadow mb-6">
                    <div class="card-header py-4">
                        <form>
                            <div class="row d-flex justify-content-center">
                                <input type="hidden" id="DetalleVentaID" value="0" />
                                <div class="mb-3 col-6">
                                    <label for="ProductoID" class="form-label"><b>Producto</b></label>
                                    @Html.DropDownList("ProductoID", null, htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            name = "ProductoID"
                                        })
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Cantidad" class="form-label"><b>Cantidad</b></label>
                                    <input type="number" id="Cantidad" class="form-control"
                                        style="text-transform:uppercase" placeholder="Cantidades">
                                    <div class="e invalid-feedback" id="Error"></div>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="SubTotal" class="form-label"><b>SubTotal</b></label>
                                    <input value=0 type="tel" id="SubTotal" onkeydown="" onkeyup="" class="form-control"
                                        style="text-transform:uppercase" placeholder="$">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center"><i class="fa-solid fa-list"></i></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: hidden">
                            <table class="table table-hover table-bordered border-primary" style="color: black;" id=""
                                width="100%" cellspacing="0">
                                <thead class="table-success">
                                    <tr class="text-center">
                                        <th><i class="fa-solid fa-list"></i> Nombre</th>
                                        <th><span>$</span> Precio Unitario</th>
                                        <th><i class="fa-solid fa-layer-group"></i> Cantidad</th>
                                        <th><span>$</span> SubTotal</th>
                                        <th><i class="fa-solid fa-gears"></i> Opciones:</th>
                                    </tr>
                                </thead>
                                <tbody id="TablaVentaCreado">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="card shadow">
                    <div class="card-header d-flex justify-content-center">
                        <p style="color: red;"><b><u>Finalizar La Venta</u></b></p>
                    </div>
                </div>
                <div class="card shadow mb-6">
                    <div class="card-header py-4">
                        <form>
                            <div class="row d-flex justify-content-evenly">
                                <input type="hidden" id="VentaID" value="0" />
                                <div class="mb-3 col-4">
                                    <label for="ClienteID" class="form-label"><b>Cliente</b></label>
                                    @Html.DropDownList("ClienteID", null, htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            name = "ClienteID"
                                        })
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="TotalAPagar" class="form-label"><b>Total A Pagar</b></label>
                                    <input type="tel" id="TotalAPagar" onchange="" onkeydown="" onkeyup=""
                                        class="form-control" style="text-transform:uppercase" placeholder="$">
                                </div>
                                @* <div class="mb-3 col-4">
                                <label for="Fecha" class="form-label"><b>Fecha:</b></label>
                                <input value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div> *@
                                <div class="form-group contenido">
                                    <button type="submit" onclick="GuardarVentas(), LimpiarModal()"
                                        class="btn btn-success"><i class="fa-solid fa-check"></i> Finalizar
                                        Venta</button>
                                    @* <input type="submit" onclick="GuardarVentas(), LimpiarModal()"
                                    value="Finalizar Venta" class="btn btn-success" /> *@
                                    <button type="buton" onclick="CancelarVenta(), LimpiarModal()"
                                        class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancelar
                                        Venta</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" onclick="LimpiarModal()" data-bs-dismiss="modal"><i
                class="fa-solid fa-xmark"></i> Cancelar</button> *@
                <button type="submit" onclick="AgregarDetalleVenta()" class="btn btn-primary"><i
                        class="fa-solid fa-download"></i> Guardar Datos</button>
            </div>
        </div>
    </div>
</div>







<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" onclick="ListadoDetalleVentaTemporal()" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-plus"></i> Crear Venta
        </button>
        <p style="color: red;"><b><u>Ventas</u></b></p>
        <button class="btn btn-warning" onclick="Imprimir()">
            <i class="fa-solid fa-print"></i> IMPRIMIR
        </button>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center"><i class="fa-solid fa-list"></i></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-y: hidden">
            <table class="table table-hover table-bordered border-primary" style="color: black;" id="Imprimir"
                width="100%" cellspacing="0">
                <thead class="table-success">
                    <tr class="text-center">
                        <th><i class="fa-solid fa-user"></i> Cliente</th>
                        <th><span>$</span> Total</th>
                        <th><i class="fa-solid fa-list"></i> Fecha</th>
                        <th><i class="fa-solid fa-gears"></i> Opciones</th>
                    </tr>
                </thead>
                <tbody id="TablaVenta">
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel1">Detalle De La Venta</h5>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center"><i class="fa-solid fa-list"></i></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: hidden">
                            <table class="table table-hover table-bordered border-primary" style="color: black;"
                                id="Imprimirr" width="100%" cellspacing="0">
                                <thead class="table-success">
                                    <tr class="text-center">
                                        <th><i class="fa-solid fa-user"></i> Cliente</th>
                                        <th><i class="fa-brands fa-dropbox"></i> Nombre Del Producto </th>
                                        <th><span>$</span> Precio Unitario</th>
                                        <th><i class="fa-solid fa-layer-group"></i> Cantidad</th>
                                        <th><span>$</span> SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaDetalleVenta">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
                        class="fa-solid fa-xmark"></i> Cancelar</button>
                <button class="btn btn-warning" onclick="Imprimir()">
                    <i class="fa-solid fa-print"></i> IMPRIMIR
                </button>
            </div>
        </div>
    </div>
</div>



















@* <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="staticBackdropLabel">Crear Detalle Venta</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<form>
<div class="row">
<input type="hidden" id="DetalleVentaID" value="0" />
<div class="mb-3 col-12">
<label for="ProductoID" class="form-label"><b>Productos:</b></label>
@Html.DropDownList("ProductoID", null, htmlAttributes: new
{
@class = "form-control",
name = "ProductoID"
})
</div>
<div class="mb-3 col-6">
<label for="Cantidad" class="form-label"><b>Cantidades:</b></label>
<input type="number" id="Cantidad" class="form-control" style="text-transform:uppercase"
placeholder="Cantidad">
</div>
<div class="mb-3 col-6">
<label for="SubTotal" class="form-label"><b>SubTotal:</b></label>
<input value="" type="number" step="any" id="SubTotal" class="form-control"
style="text-transform:uppercase" placeholder="SubTotal">
</div>
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
<button type="submit" onclick="AgregarDetalleVenta()" class="btn btn-primary">Guardar Datos</button>
</div>
</div>
</div>
</div>



<h4 class="text-center text-primary">Crear Ventas</h4>
<hr />
<div class="card shadow mb-4">
<div class="card-header py-3">
<form asp-action="Crear">
<div class="row">
<input type="hidden" id="VentaID" value="0" />
<div class="mb-3 col-4">
<label for="ClienteID" class="form-label"><b>Cliente:</b></label>
@Html.DropDownList("ClienteID", null, htmlAttributes: new
{
@class = "form-control",
name = "ClienteID"
})
</div>
<div class="mb-3 col-4">
<label for="TotalAPagar" class="form-label"><b>Total A Pagar:</b></label>
<input type="number" id="TotalAPagar" class="form-control" style="text-transform:uppercase"
placeholder="TotalAPagar">
</div>
<div class="mb-3 col-4">
<label for="Fecha" class="form-label"><b>Fecha:</b></label>
<input type="submit" id="Fecha" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
</div>
<div class="form-group contenido">
<input type="submit" onclick="GuardarVentas()" value="Finalizar Venta" class="btn btn-success" />
<button type="buton" onclick="CancelarVenta()" class="btn btn-danger">Cancelar Venta</button>
</div>
</div>
</form>
</div>
</div>

<hr />


<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary text-center"><i class="fa-solid fa-list"></i></h6>
</div>
<div class="card-body">
<div class="table-responsive" style="overflow-y: hidden">
<table class="table table-hover table-bordered border-primary" style="color: black;" id="Imprimir"
width="100%" cellspacing="0">
<thead class="table-success">
<tr class="text-center">
<th>Precio De Venta</th>
<th>Cantidades</th>
<th>SubTotal</th>
<th>Nombre</th>
<th>Opciones:</th>

<th><!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="ListadoDetalleVentaTemporal()"
data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Cargar Detalle Venta
</button>
</th>
</tr>
</thead>
<tbody id="TablaVentaCreado">
</tbody>
</table>
</div>
</div>
</div> *@



@section Scripts
{
    <script src="~/js/Ventas-1.0.0.js"></script>

    <script src="~/js/DetalleVentas-1.0.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        @* const expreciones = {descripcion: /^[a-zA-Z0-9\-\_]{4,16}$/} *@
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
            })
        @* () *@
    </script>

    @* <script>
const formulario = document.getElementById('miFormulario');

formulario.addEventListener('submit', function(event) {
if (!formulario.checkValidity()) {
event.preventDefault();
alert('Por favor, completa todos los campos correctamente.');
}
});

const email = document.getElementById('email');
email.addEventListener('input', function() {
if (email.validity.typeMismatch) {
email.setCustomValidity('Por favor, ingresa una dirección de correo válida.');
} else {
email.setCustomValidity('');
}
});
</script>

<script>
function validarFormulario() {
var nombre = document.getElementById('nombre').value;
if (nombre === "") {
alert("El campo nombre no puede estar vacío");
return false; // Evita el envío del formulario
}
return true; // Permite el envío del formulario
}
</script>
<script>
function validarFormulario() {
// Obtener los valores de los campos de texto
var nombre = document.getElementById("nombre").value;
var email = document.getElementById("email").value;

// Expresiones regulares para validar
var regexNombre = /^[a-zA-Z\s]+$/;
var regexEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;

// Validar el nombre
if (!regexNombre.test(nombre)) {
alert("El nombre solo debe contener letras y espacios.");
return false;
}

// Validar el email
if (!regexEmail.test(email)) {
alert("Por favor, introduce un correo electrónico válido.");
return false;
}

// Si todo es correcto
alert("Formulario enviado correctamente.");
return true;
}
</script>*@
}